body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 40px;
}
.name-color{
    color:orange;
}
.half-width{
    width:50%;
    padding-left: 7%;
    margin-right: 100px;
    
}
.image-half-width {
    width: 50%;
    
}
.first-flex{
    display: flex;
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.first-image{
    width:80%;
    margin-top: 15px;
}
.hire-btn{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 7px 35px;
    background-image: linear-gradient(lightsalmon, tomato);
    border-radius: 5px;
}
section div p{
    color: gray;
}
.second-flex{
    display: flex;
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}
.second-image{
    width: 90%;
}
.dream-half-width{
    width:50%;
    margin-right: 120px;
}
.bottom-margin{
    margin-bottom: 150px;
}
.dream-img-width{
    width:50%;
    padding-left: 7%;
}