body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 40px;
}
.name-color{
    color:orange;
}
.half-width{
    width:50%;
    padding-left: 7%;
    margin-right: 100px;
    
}
.image-half-width {
    width: 50%;
    
}
.first-flex{
    display: flex;
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.first-image{
    width:80%;
    margin-top: 15px;
}
.hire-btn{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 7px 35px;
    background-image: linear-gradient(lightsalmon, tomato);
    border-radius: 5px;
}
section div p{
    color: gray;
}
.second-flex{
    display: flex;
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}
.second-image{
    width: 90%;
}
.dream-half-width{
    width:50%;
    margin-right: 120px;
}
.bottom-margin{
    margin-bottom: 150px;
}
.dream-img-width{
    width:50%;
    padding-left: 7%;
}

.experience{
    background-image: url(../images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}
#experiences{
    padding-left: 40px;
}
.card-half-width{
    width: 50%;
    box-shadow: 10px 10px 40px gray;
    padding: 0px 10px 40px 15px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 70px;
}
.third-flex{
    display: flex;
}
.experience-box1{
    border-left: 10px solid;
    border-image: linear-gradient(lightsalmon,tomato);
    border-image-slice: 1;
}
.experience-box2 {
    border-left: 10px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#footer-p{
    text-align: center;
    color: gray;
}
